<div class="modal fade" id="keyboardShortcutsModal" tabindex="-1" aria-labelledby="keyboardShortcutsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="keyboardShortcutsModalLabel">
                    <i class="bi bi-keyboard me-2"></i>Keyboard Shortcuts
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-sm mb-0">
                    <thead>
                        <tr>
                            <th>Shortcut</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><kbd>?</kbd></td>
                            <td>Show this help</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd>/<kbd>Cmd</kbd> + <kbd>K</kbd></td>
                            <td>Focus search / navigate to search</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd>/<kbd>Cmd</kbd> + <kbd>Enter</kbd></td>
                            <td>Submit current form</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd>/<kbd>Cmd</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd></td>
                            <td>Go to Compose</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd>/<kbd>Cmd</kbd> + <kbd>Shift</kbd> + <kbd>N</kbd></td>
                            <td>New item (context-aware)</td>
                        </tr>
                        <tr>
                            <td><kbd>Ctrl</kbd>/<kbd>Cmd</kbd> + <kbd>Shift</kbd> + <kbd>H</kbd></td>
                            <td>Go to Dashboard</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
