{% extends 'base.html.twig' %}

{% block title %}New Project - {{ parent() }}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('project_index') }}">Projects</a></li>
        <li class="breadcrumb-item active">New</li>
    </ol>
</nav>

<h1 class="mb-4"><i class="bi bi-folder-plus me-2"></i>New Project</h1>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                {% include 'project/_form.html.twig' with {
                    'button_label': 'Create Project',
                    'cancel_url': path('project_index')
                } %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
